body {
  background-color:#34548C;
 
  
  
}

h1 {
  text-align: center;
  color: #D9C947;
  font-variant: small-caps;
  background-color:#34548C;
  

}

h2 {
  text-align: center;
  color: #D9C947;
  font-style: oblique;
    background-color:#34548C;

}

hl {
  
  background-color:#34548C;
}

h3 {
  text-align: left;
  color: #D9C947;
  font-variant: small-caps;
 
  text-indent: 5px;
  
}


p {
  text-align: left;
  color: #D9C947;
  font-family:monospace;
  font-size: 15px;
  
  margin: 10px;
}
p1 {
  text-align: left;
  color: #21b413;
  font-family:monospace;
  font-size: 15px;
  
  margin: 10px;
}

p2 {
  text-align: left;
  color: #000000;
  font-family:monospace;
  font-size: 15px;
  
  margin: 10px;
}

li {
  color: #D9C947;
  font-weight: 700;
   
    float: left;
}

img {
   margin-right:5px;
    margin-left: 10px;
    display:block;
  
    border-color:#D9C947;
    border-style: double;
   border-width: 10px;
   border-radius: 30px;
    box-shadow: #D9C947;
    width: 200px;
    height:100px;
}

a {
  float: right
}

postwar {
  background-color:red
}

.prewar {
  border: 5px outset #D9C947;
  background-color: #34548C;    
  text-align: center;
  background-image: url("vaulttec"); 
}
.thewar {
  border: 5px outset #21b413;
  background-color: #212224;    
  text-align: center;
}
.postwar {
  border: 5px outset #491606;
  background-color: #860909;    
  text-align: center;
}